<!DOCTYPE html>
<html lang="en">
  <head>
    <head th:insert="~{partials/head :: head('About Us')}"></head>
    <link rel="stylesheet" th:href="@{/css/aboutus.css}" />
  </head>
  <body>
    <nav>
      <div th:include="~{partials/navbar :: navbar}"></div>
    </nav>
    <div class="content-wrapper">
    <div class="d-flex container-fluid page my-3 justify-content-center">
      <div class="row">
        <div class="card col-3">
          <img src="/img/johann_williams.jpg" alt="image" id="johann" class="card-img-top mx-auto" />
          <div class="card-body d-flex flex-column">
            <div class="row">
            <h3 class="card-title col-12 text-center">Johann</h3>
            <h3 class="card-title col-12 text-center">Williams</h3>
            </div>
            <div class="row d-flex justify-content-evenly align-items-center">

            <a href="https://alumni.codeup.com/candidate/johann-williams/"  class="col-4 px-2"><img class="codeup-logo" src="/img/codeup-icon_white.png" alt="codeup icon"></a>
            <a
                    class="fa-brands fa-github fa-2xl col-4 px-2 "
                    href="https://github.com/JohannWilliams"
            ></a>
            <a
                    class="fa-brands fa-linkedin fa-2xl col-4 px-2"
                    href="https://www.linkedin.com/in/johannwilliams/"
            ></a>

            </div>
          </div>
        </div>
          <div class="card col-3">
            <img src="/img/G2.png" alt="image" id="geniece" class="card-img-top mx-auto" />
            <div class="card-body d-flex flex-column">
              <div class="row">
              <h3 class="card-title col-12 text-center">Geniece</h3>
              <h3 class="card-title col-12 text-center">Tims</h3>
              </div>
              <div class="row d-flex justify-content-evenly align-items-center">

              <a href="https://alumni.codeup.com/candidate/geniece-tims/" class="col-4 px-2" ><img class="codeup-logo" src="/img/codeup-icon_white.png"></a>
              <a
                      class="fa-brands fa-github fa-2xl col-4 px-2 "
                      href="https://github.com/geniece-tims"
              ></a>
              <a
                      class="fa-brands fa-linkedin fa-2xl col-4 px-2"
                      href="https://www.linkedin.com/in/timsgenc/"
              ></a>

              </div>
            </div>
          </div>
          <div class="card col-3">
            <img src="/img/him.png" alt="image" id="daniel" class="card-img-top mx-auto" />
            <div class="card-body d-flex flex-column">
              <div class="row">
              <h3 class="card-title col-12 text-center">Daniel</h3>
              <h3 class="card-title col-12 text-center">Mondragon</h3>
              </div>
              <div class="row d-flex justify-content-evenly align-items-center">

              <a href="https://alumni.codeup.com/candidate/geniece-tims/" class="col-4 px-2" ><img class="codeup-logo" src="/img/codeup-icon_white.png"></a>
              <a
                      class="fa-brands fa-github fa-2xl col-4 px-2 "
                      href="https://github.com/DanielMondragon124"
              ></a>
              <a
                      class="fa-brands fa-linkedin fa-2xl col-4 px-2"
                      href="hhttps://www.linkedin.com/in/daniel-mondragon1/"
              ></a>

              </div>
            </div>
          </div>
          <div class="card col-3">
            <img src="/img/michaella-moreno.jpg" alt="image" id="michaella" class="card-img-top mx-auto" />
            <div class="card-body d-flex flex-column">
              <div class="row">
              <h3 class="card-title col-12 text-center">Michaella</h3>
              <h3 class="card-title col-12 text-center">Moreno</h3>
              </div>
              <div class="row d-flex justify-content-evenly align-items-center ">

              <a href="https://alumni.codeup.com/candidate/geniece-tims/"  class="col-4 px-2"><img class="codeup-logo" src="/img/codeup-icon_white.png"></a>
              <a
                      class="fa-brands fa-github fa-2xl col-4 px-2"
                      href="https://github.com/meekaellaa"
              ></a>
              <a
                      class="fa-brands fa-linkedin fa-2xl col-4 px-2"
                      href="https://www.linkedin.com/in/michaella-moreno/"
              ></a>

              </div>
            </div>
          </div>
      </div>
    </div>
    <div class="about-us d-flex container">
      <div class="row">
        <div class="col-12">
          <h1 class="text-center ry">About Us</h1>
        </div>
        <div class="col-12">
          <p class="text-center">
            Welcome to our platform, a unique space crafted by four passionate
            software developers. We've created a hub for meaningful conversations
            where users can agree, disagree, and delve deep into pressing topics.
            In a world filled with diverse opinions, our website stands as a
            beacon for genuine dialogue and understanding. Join us, share your
            perspective, and be part of a community that values growth through
            conversation.
          </p>
        </div>
      </div>
    </div>
    </div>
    <footer th:include="partials/footer :: footer"></footer>
    <div th:replace="~{partials/scripts :: scripts}"></div>
    <script src="//static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>
    <script
      src="https://kit.fontawesome.com/f7c5f21150.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
