<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
	<meta charset="UTF-8">
	<title>Register</title>
</head>
<body>
<div>
	<div th:include="~{partials/navbar.html}"></div>
</div>
<div class="left-menu-topics">
	<div th:each="category : ${categories}">
		<ul>
			<li>
				<p th:text="${category.name}"></p>
				<div th:each="topic : ${topics}">
					<ul>
						<li th:if="${topic.getCategory.id == category.id}">
							<a th:href="@{/posts/{id}(id=${topic.id})}" th:text="${topic.name}"></a>
						</li>
					</ul>
				</div>
			</li>
		</ul>
	</div>
</div>

<div class="post-creation-form" th:if="${topicClicked}">
	<form th:action="@{/posts/{id}/create(id=${viewedTopic.id})}" method="post" th:object="${formPost}">
		<label for="title" >Post Title</label>
		<input type="text" id="title" name="title" th:field="*{title}">
		<label for="body">Post Body</label>
		<textarea id="body" name="body" cols="33" rows="5" th:field="*{body}"></textarea>
		<select name="position">
			<option th:field="*{position}" th:value="a">Agree</option>
			<option th:field="*{position}" th:value="d">Disagree</option>
			<option th:field="*{position}" th:value="i">Indifferent</option>
		</select>
		<input type="submit" th:value="Post">
	</form>
</div>

<div class="post-section">
	<div class="post-topic">
		<h1 th:if="${topicClicked}" th:text="${viewedTopic.name}"></h1>
		<h1 th:if="${not topicClicked}">Choose a Topic</h1>
	</div>
	<div class="post-agreed-section" th:if="${topicClicked}">
		<h2>Agree</h2>
		<div th:each="post : ${posts}">
			<div class="post-card" th:if="${post.position == 'a'}">
				<h3 th:text="${post.title}"></h3>
				<h5 th:text="${post.body}"></h5>
			</div>
			<div class="comment-cards-section">
				<div th:each="comment : ${comments}">
					<div class="comment-card" th:if="${comment.post.getId() == post.getId()}">
						<h4 th:text="${comment.body}"></h4>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="post-disagreed-section" th:if="${topicClicked}">
		<h2>Disagree</h2>
		<div th:each="post : ${posts}">
			<div class="post-card" th:if="${post.position == 'd'}">
				<h3 th:text="${post.title}"></h3>
				<h5 th:text="${post.body}"></h5>
			</div>
		</div>
	</div>
	<div class="post-indifferent-section" th:if="${topicClicked}">
		<h2>Indifferent</h2>
		<div th:each="post : ${posts}">
			<div class="post-card" th:if="${post.position == 'i'}">
				<h3 th:text="${post.title}"></h3>
				<h5 th:text="${post.body}"></h5>
			</div>
		</div>
	</div>
</div>
</body>
</html>