<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/footer.css}">
</head>
<div class="container-fluid">
<footer th:fragment="footer" class="w-100 text-center footer">
  <div style="background: #222139ff" class="h-200 d-flex justify-content-center align-items-center">
    <span style="color: white" >Project Name!</span>
      <br>
    <a style="color: white" class="TX" href="">
      PARLEY
    </a>
  </div>
</footer>
</div>
</html>