<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
	<head th:insert="~{partials/head :: head('Login')}"></head>
	<link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body>
<nav>
	<div th:include="~{partials/navbar :: navbar}"></div>
</nav>
<div class="container-fluid MC">
	<div class="row justify-content-between">
		<div class="col-12 C1">
			<div class="row">
				<div class="CANT1 col-6 d-flex justify-content-center flex-column">
					<h3 class="LOG-B">Login</h3>
					<div class="form-container">
						<form th:action="@{/login}" method="post">
							<div class="div">
								<label class="LOG" for="username"></label>
								<input class="INP" type="text" id="username" name="username" required placeholder="Username">
							</div>
							<div class="div">
								<label class="LOG" for="password"></label>
								<input class="INP" type="password" id="password" name="password" required placeholder="Password">
							</div>
							<div class="log-cont">
								<button class="log-btn" type="submit">Log In</button>
							</div>
						</form>
						<p class="LOG">Don't have an account? <a th:href="@{/register}" class="register REGH">Register Here</a></p>
					</div>
				</div>

				<div class="CANT2 col-6">
					<img src="/img/Talk.png" alt="Description of Image">
				</div>

				<div class="CANT3 col-12">
					<p class="fact">
						Did you know Debate participation promotes problem solving and
						innovative thinking, and helps students to build links
						between words and ideas that make concepts more meaningful
					</p>
				</div>

			</div>

		</div>
	</div>
</div>
<footer th:include="partials/footer :: footer">
</footer>
<div th:replace="~{partials/scripts :: scripts}"></div>
</body>
</html>
