<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body>
<nav>
  <div th:include="~{partials/navbar.html}"></div>
</nav>
<div class="container-fluid MC">
  <div class="row">
<div class="col-6 C1">
  <p>P</p>
  <p>A</p>
  <p>R</p>
  <p>L</p>
  <p>E</p>
  <p>Y</p>
</div>
<div class="col-6 C2">
  <h3>Login</h3>
  <form th:action="@{/login}" method="post">
    <div>
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" required>
    </div>
    <div>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required>
<!--      <div class="passworderror" th:if="${error}" th:text="${error}"></div>-->
    </div>
    <div>
      <button type="submit">Login</button>
    </div>
  </form>
  <p class="reg">Don't have an account? <a th:href="@{/register}" class="register">Register here</a></p>
</div>
  </div>
</div>
<footer th:include="partials/footer :: footer">
</footer>
</body>

</html>
