<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>
<nav>
  <div th:include="~{partials/navbar.html}"></div>
</nav>
<div class="container-fluid">

<!--  <h1><span th:text="${user.username}"></span></h1>-->

    <div class="profile-info">
      <img th:src="${user.banner_img}" alt="Banner Image"/>
      <img th:src="${user.profile_pic}" alt="Profile Picture"/>
      <h2 th:text="${user.username}"></h2>
      <p th:text="${user.bio}"></p>
    </div>

    <!-- Display user's posts here -->
    <div class="user-posts">
      <h2>Your Posts</h2>
      <div th:each="post : ${posts}">
        <div class="post">
          <h3 th:text="${post.title}"></h3>
          <p th:text="${post.body}"></p>
          <!-- Add other properties as needed -->
        </div>
      </div>
    </div>

  </div>
<footer th:include="partials/footer :: footer">
</footer>
</body>
</html>