<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>
<div class="container">
  <h1><span th:text="${user.username}"></span></h1>

    <div class="profile-info">
      <img th:src="${user.profile_pic}" alt="Profile Picture"/>
      <img th:src="${user.banner_img}" alt="Banner Image"/>
      <h2 th:text="${user.username}"></h2>
      <p th:text="${user.bio}"></p>
    </div>
<!----------------------------------------------------------------------------->
<!--Commented out code is for if followers feature will be added to project -->
<!--    <div class="following-list">-->
<!--      <h2>Following</h2>-->
<!--      <ul>-->
<!--        <li th:each="${user.following}">-->
<!--          <span th:text="${following.username}"></span>-->
<!--        </li>-->
<!--      </ul>-->
<!--    </div>-->
<!----------------------------------------------------------------------------->
    <!-- Display user's posts here -->
    <div class="user-posts">
      <h2>Your Posts</h2>
      <div th:each="post : ${posts}">
        <div class="post">
          <h3 th:text="${post.title}"></h3>
          <p th:text="${post.body}"></p>
          <!-- Add other properties as needed -->
        </div>
      </div>
    </div>

  </div>
</body>
</html>