<!DOCTYPE html>
<html lang="en">
<head>
    <head th:insert="~{partials/head :: head('Update Profile')}"></head>
    <link rel="stylesheet" th:href="@{/css/profile.css}">
</head>
<body>
<div>
    <div th:replace="~{partials/navbar :: navbar}"></div>
</div>

    <div class="BI">
        <img class="banner-user" th:src="${user.banner_img}"
             alt="Banner Image"
             th:if="${user.banner_img != null && user.banner_img !=''}"/>
        <img class="banner-default"
             th:src="@{/img/default-banner.png}"
             alt="Default banner image of conversation bloops"
             th:if="${user.banner_img == null && user.banner_img ==''}"/>
    </div>

    <div class="profile-image">
        <img class="profile-user" th:src="${user.profile_pic}"
             alt="Profile Picture"
             th:if="${user.profile_pic != null && user.profile_pic !=''}"/>
        <img class="profile-default" th:src="@{/img/D3.webp}"
             alt="Default image of a tech dog"
             th:if="${user.profile_pic == null or user.profile_pic ==''}"/>
    </div>

    <div class="username">
        <h1 th:text="${user.username}">UserName</h1>
    </div>

    <div class="BIO">
        <p class="user-bio" th:text="${user.bio}"
           th:if="${user.bio != null && user.bio != ''}"></p>
        <p class="default-bio"
           th:text="'Click the button below to edit your profile.'"
           th:if="${user.bio == null or user.bio == ''}"></p>
        <div class="edit-button">
            <a th:href="@{/profile/update}" class="btn btn-sm btn-dark">Edit
                Profile</a>
        </div>
    </div>

<div class="posts">
    <div class="container user-posts">
        <h2>Your Posts</h2>
        <div th:each="post : ${posts}">
            <h3 th:text="${post.title}"></h3>
            <p th:text="${post.body}"></p>
            <!--Add other properties as needed -->
        </div>
    </div>
</div>
<footer th:include="partials/footer :: footer"></footer>
<!--Filestack API JS-->
<script src="//static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>
<!--jQuery JS-->
<script src="https://code.jquery.com/jquery-2.2.4.min.js"
        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>
<script src="/js/filestack.js"></script>

</body>
</html>