<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
<!--    <script src="../../static/js/register.js"></script>-->
</head>
<body>
<div>
	<div th:include="~{partials/navbar.html}"></div>
</div>
<h2>Register</h2>
<form th:action="@{/register}" th:object="${user}" method="post">
<div>
    <label for="username"> Username:</label>
    <input type="text" id="username" name="username" th:field="*{username}" required>
</div>
    <div>
        <label for="email">Email:</label>
        <input type="text" id="email" name="email" th:field="*{email}">
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" th:field="*{password}">
    </div>
    <div>
        <label for="confirmPassword">Confirm Password:</label>
        <input type="password" id="confirmPassword" name="confirmPassword">
        <div class="error-message" th:if="${#fields.hasErrors('password')}"> Passwords do not match. </div>
        <div class="error-invalidquals" th:if="${#fields.hasErrors('password')}"> Password does not meet the qualifications stated below. </div>
        <div class="password-qualifications"> Password must match the following requirements:
            <ul>
                <li>Be between 8 and 20 characters long.</li>
                <li>Contain at least one Uppercase letter.</li>
                <li>Contain at least one Lowercase letter.</li>
                <li>Contain at least one digit.</li>
            </ul>
        </div>
    </div>
    <button type="submit"> Register</button>
</form>
</body>
</html>