<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:fragment="head">
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
    <link rel="stylesheet" th:href="@{/css/registration-page.css}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>
<div>
	<div th:include="~{partials/navbar.html}"></div>
</div>
<div class="container-fluid MC">
    <div class="row">
        <div class="col-4 C2 wrap">
            <div id="register-form-container">
                <h2 class="MR">Register</h2>
                <form th:action="@{/register}" th:object="${user}" method="post" id="register-form">
                    <div>
                        <label for="username"> Username:</label>
                        <input class="INP" type="text" id="username" name="username" th:field="*{username}" required>
                    </div>
                    <div>
                        <label for="email">Email:</label>
                        <input class="INP" type="text" id="email" name="email" th:field="*{email}">
                    </div>
                    <div>
                        <label for="password">Password:</label>
                        <input class="INP" type="password" id="password" name="password" th:field="*{password}">
                    </div>
                    <div>
                        <label for="confirmPassword">Confirm Password:</label>
                        <input class="INP" type="password" id="confirmPassword" name="confirmPassword">
                        <div class="error-message" th:if="${#fields.hasErrors('password')}"> Passwords do not match. </div>
                        <div class="error-invalidquals" th:if="${#fields.hasErrors('password')}"> Password does not meet the qualifications stated below. </div>
                        <div class="password-qualifications">
                            <h3 class="PR">Password must match the following requirements:</h3>
                            <ul>
                                <li class="Li-I">Be between 8 and 20 characters long.</li> class="Li-I"
                                <li class="Li-I">Contain at least one Uppercase letter.</li>
                                <li class="Li-I">Contain at least one Lowercase letter.</li>
                                <li class="Li-I">Contain at least one digit.</li>
                            </ul>
                        </div>
                    </div>
                    <button type="submit" class="reg-btn"> Register</button>
                </form>
            </div>
        </div>
            <div class=" col-8 d-flex flex-column">
                <div class="C1 wrap">
                </div>
            <div class="C1-M wrap">
                <section class="wrapper">
                    <div class="top">PARLEY</div>
                    <div class="bottom" aria-hidden="true">PARLEY</div>
                </section>
                <p class="Q">"You don't win a debate by suppressing discussion;
                    you win it with a better argument."- Frank Sonnenberg</p>
            </div>
        <div class="C1-L wrap">
        </div>
            </div>
        </div>
</div>
</div>
<footer th:include="partials/footer :: footer">
</footer>
<script src="/js/register.js"></script>
</body>
</html>