<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:insert="~{partials/head :: head('Update Profile')}"></head>
    <link rel="stylesheet" th:href="@{/css/update-profile.css}">
</head>
<body>
    <div th:replace="~{partials/navbar :: navbar}"></div>
<h1 class="text-center my-5">Edit Profile</h1>
<div id="update-profile-container">
    <form th:object="${user}"
          th:action="@{/profile/update}" method="post"
          enctype="multipart/form-data" id="update-profile-form" class="col-6 mx-auto">
        <div class="d-flex form-group justify-content-between">
            <div class="Username col-5">
                <label for="username">Username </label>
                <input type="text" th:field="*{username}" placeholder="Username" id="username" class="form-control"/>
            </div>
            <div class="email col-5">
                <label for="email">Email </label>
                <input type="email" th:field="*{email}" placeholder="Email" id="email" class="form-control"/>
            </div>
        </div>
        <div class="bio justify-content-center mx-auto mt-3 form-group">
            <label>Bio </label>
            <textarea class="w-100 form-control" id="bio" rows="5" cols="50" type="text" th:field="*{bio}"
                      placeholder="Tell the World about yourself..."></textarea>
        </div>
        <div class="d-flex justify-content-center">
            <div class="profile-picture d-flex flex-column my-3 mr-3 col-5">
                <label class="text-center mb-2">Profile Picture </label>
                <input type="hidden" th:value="*{profile_pic}" id="profile_pic" name="profile_pic" value=""/>
                <img class=" mx-auto" id="uploaded-image" th:src="*{profile_pic}" alt="Uploaded Image"
                     th:if="*{profile_pic != null && profile_pic != ''}">
                <img class=" mx-auto" id="uploaded-image" th:src="@{/img/D3.webp}" alt="Uploaded Image"
                     th:if="*{profile_pic == null or profile_pic == ''}">
                <button id="upload-profile-pic" type="button" class="w-25 mx-auto mt-2 btn btn-dark"> Upload</button>
            </div>
            <div class="banner-picture d-flex flex-column mt-3 col-5">
                <label class="text-center mb-2">Banner Image </label>
                <input type="hidden" th:value="*{banner_img}" id="banner_pic" name="banner_img" value=""/>
                <img class=" mx-auto" id="uploaded-banner-image" th:src="*{banner_img}" alt="Uploaded Banner"
                     th:if="*{banner_img != null and banner_img != ''}">
                <img class=" mx-auto" id="uploaded-banner-image" th:src="@{/images/no_image.png}" alt="Uploaded Banner"
                     th:if="*{banner_img == null or banner_img == ''}">
                <button id="upload-banner-pic" type="button" class="w-25 mx-auto mt-2 btn btn-dark">Upload</button>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <input type="button" id="update-profile-profanity-check" class="btn btn-primary mx-auto w-25 mt-5"
                   th:value="Submit"></div>
        <input type="submit" id="update-profile-button" class="hide-submit-button">
    </form>
</div>
<!--Filestack API JS-->
<script src="//static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>
<!--JQuery JS-->
<script src="https://code.jquery.com/jquery-2.2.4.min.js"
        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script src="/js/keys.js"></script>
<script src="/js/filestack.js"></script>
<script src="/js/bio_profanity.js"></script>
</body>
</html>
