<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:insert="~{partials/head :: head('Update Profile')}"></head>
    <link rel="stylesheet" th:href="@{/css/update-profile.css}">
</head>
<body>
<div>
    <div th:replace="~{partials/navbar :: navbar}"></div>
</div>
<div id="update-profile-container" class="container-fluid col-6 d-flex ">
    <div class="container-fluid col-6">
        <h1>Edit Profile</h1>
    </div>
    <div>
        <form th:object="${user}"
              th:action="@{/profile/update}" method="post"
              enctype="multipart/form-data" id="update-profile-form">
            <div>
                <label>Username </label>
                <input type="text" th:field="*{username}"/>
            </div>
            <div>
                <label>Email </label>
                <input type="email" th:field="*{email}"/>
            </div>
            <div>
                <label>Bio </label>
                <textarea id="bio" rows="5" cols="50" type="text" th:field="*{bio}"></textarea>
            </div>
            <div>
                <label>Profile Picture </label>
                <button id="upload-profile-pic" type="button"> Upload</button>
                <input type="hidden" th:value="*{profile_pic}" id="profile_pic" name="profile_pic" value=""/>

                <img id="uploaded-image" th:src="*{profile_pic}" alt="Uploaded Image"
                     th:if="*{profile_pic != null && profile_pic != ''}">
                <img id="uploaded-image" th:src="@{/img/D3.webp}" alt="Uploaded Image"

                     th:if="*{profile_pic == null or profile_pic == ''}">
            </div>
            <div>
                <label>Banner Image </label>
                <button id="upload-banner-pic" type="button">Upload</button>
                <input type="hidden" th:value="*{banner_img}" id="banner_pic" name="banner_img" value=""/>

                <img id="uploaded-banner-image" th:src="*{banner_img}" alt="Uploaded Banner"
                     th:if="*{banner_img != null and banner_img != ''}">
                <img id="uploaded-banner-image" th:src="@{/images/no_image.png}" alt="Uploaded Banner" th:if="*{banner_img == null or banner_img == ''}">
            </div>

    <input type="button" id="update-profile-profanity-check" class="btn btn-primary" th:value="Submit">
    <input type="submit" id="update-profile-button" class="hide-submit-button">
    </form>
    </div>
</div>
</div>
<!--Filestack API JS-->
<script src="//static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>
<!--JQuery JS-->
<script src="https://code.jquery.com/jquery-2.2.4.min.js"
        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script src="/js/keys.js"></script>
<script src="/js/filestack.js"></script>
<script src="/js/bio_profanity.js"></script>
</body>
</html>
