<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <div th:insert="~{partials/head :: head('Update Profile')}"></div>
</head>
<body>
<div>
  <div th:replace="~{partials/navbar :: navbar}"></div>
</div>
<div id="update-profile-container">
  <h1>Edit Profile</h1>

  <form th:object="${user}"
        th:action="@{/profile/update}" method="post"
        enctype="multipart/form-data" id="update-profile-form">
    <div>
      <label>Username </label>
      <input type="text" th:field="*{username}" />
    </div>
    <div>
      <label>Email </label>
        <input type="email" th:field="*{email}" />
    </div>
    <div>
      <label>Bio </label>
        <textarea id="bio" rows="5" cols="50" type="text" th:field="*{bio}"></textarea>
    </div>
    <div>
      <label>Profile Picture </label>
      <button id="upload-profile-pic"> Upload</button>
      <input type="hidden" th:field="*{profile_pic}" accept="image/*" />
    </div>
    <div>
      <label>Banner Image </label>
      <input type="text" th:field="*{banner_img}" accept="image/*" />
    </div>
    <input type="submit" id="update-profile-button" class="btn btn-primary">
      Update</input>
  </form>

</div>
<script src="https://static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>

</body>
</html>
