.register {
    color: black;
}
.C1 , .C2 {
    height: 90vh;
    background: #7b748cff;
}
.C1 {
    position: relative;  /* This ensures the pseudo-element positions relative to this container */
    border: 2px solid #7b748cff;
    background: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.C2 {
    border: 2px solid black;
    background: #7b748cff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
p {
    font-size: 25px;
    color: #7b748cff;
}
.LOG {
    text-decoration: none;
    color: #222139ff;
}