.register {
    color: black;
}
.C1 , .C2 {
    height: 60vh;
}
.C1 {
    position: relative;  /* This ensures the pseudo-element positions relative to this container */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.PL {
    color: white;
}
.C2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
p {
    font-size: 25px;
    color: #7b748cff;
}
.LOG {
    text-decoration: none;
    color: white;
}
.C3 , .C4 {
    height: 30vh;
}
.C3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    /*background-image: url("../img/par.jpg");*/
    border-radius: 30px;
    background: #222139ff;
    border: 3px solid #7b748cff;
}
.intro {
    color: white;
    font-size: 18px;
}
.C4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}
.img {
    height: auto;
    width: 280px;
}
.TT {
    text-align: center;
}
.PPC {
    height: auto;
    overflow: visible;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    border: 2px solid #7b748cff;
    background: #222139ff;
}
.NT {
    font-size: 20px;
    color: white;
}
.link {
    color:white;
}
.MC3 {
    background: #7b748cff;
    border: 2px solid #222139ff;
    padding: 0;
}
.DRT {
    color: #222139ff;
}
.PPI {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
}
.PPC h2,
.PPC img,
.PPC a {
    display: block;
}
.C1,.C2,.C4 {
    border-radius: 30px;
    background: #222139ff;
    border: 3px solid #7b748cff;
}
.MC,.MC2 {
    background:#7b748cff;
}
