.register {
    color: black;
}
.C1 , .C2 {
    height: 60vh;
}
.C1 {
    position: relative;  /* This ensures the pseudo-element positions relative to this container */
    border: 2px solid #7b748cff;
    background: #222139ff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.PL {
}
.C2 {
    border: 2px solid black;
    background: #7b748cff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
p {
    font-size: 25px;
    color: #7b748cff;
}
.LOG {
    text-decoration: none;
    color: #222139ff;
}
.C3 , .C4 {
    height: 30vh;
}
.C3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #7b748cff;
    border: 2px solid #222139ff;
}
.intro {
    color: #222139ff;
    font-size: 18px;
}
.C4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #222139ff;
    border: 2px solid #7b748cff;
}
.img {
    height: auto;
    width: 280px;
}
.TT {
    text-align: center;
}
.PPC {
    height: 20vh;
}
.NT {
    font-size: 20px;
}
.MC3 {
    background: #7b748cff;
    border: 2px solid #222139ff;
}
.DRT {
    color: #222139ff;
}