.register {
    color: black;
}
.MC {
    padding-bottom: 10px;
    padding-top: 10px;
    /*background: linear-gradient( 180deg ,#C3073F, #950740, #6F2232);*/
    background-color: #0F0A06;
}
.C1 {
    height: 92vh;
    background: transparent;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 30px;
}
.C1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.PART {
    font-size: 40px;
    background-color:  #CFB1E5;
    padding: 20px;
    border-radius: 50px;
    margin: 0px;
    border: 3px solid white;
}
p {
    font-size: 25px;
    color: white;
    font-family: 'Sofia Sans', sans-serif;
}

.LOG-B {
    font-size: 35px;
    font-family: 'Alegreya', serif;
    color: #FFEFEE;
    text-align: center;
    margin-right: 15px;
}
.INP {
    width: 30vh; /* Full width */
    box-sizing: border-box; /* Ensures padding doesn't add extra width */
    border: 2px solid transparent; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    font-size: 16px; /* Increase font size */
    background-color: #088E6A; /* Light gray background */
    transition: 0.3s; /* Smooth transitions on hover */
    color: #FFEFEE;
    overflow: hidden;
    font-family: 'Sofia Sans', sans-serif;
}
.INP:focus {
    border-color: #FFEFEE; /* Green border on focus */
    color: #FFEFEE;
}
.log-btn {
    width: 25vh; /* Adjust as needed */
    height: 50px; /* Adjust as needed */
    background-color: #088E6A; /* Change to your preferred color */
    border: 2px solid transparent;
    border-radius: 5px; /* Rounded corners */
    color: #FFEFEE;
    font-size: 18px; /* Adjust as needed */
    font-weight: bold; /* Makes the text bold */
    cursor: pointer; /* Changes the cursor to a hand when hovering over the button */
    transition: background-color 0.3s; /* Smooth transition for hover effect */
    padding: 0px;
    font-family: 'Sofia Sans', sans-serif;
}
.log-btn:hover {
    background-color: #FFEFEE; /* Slightly darker blue on hover */
    color: #088E6A;
    border-color: #FFEFEE;
}
.REGH {
    color: #088E6A;
    text-decoration: none;
}
.REGH:hover {
    color: #FFEFEE;
    text-decoration: none;
}
.log-cont {
 text-align: center;
    display: flex;
    justify-content: center;
}
.fact {
    padding-top: 60px;
    padding-bottom: 40px;
    font-size: 22px;
    text-align: center;
    margin-right: 170px;
    margin-left: 170px;
    color: #FFEFEE;
    font-family: 'Sofia Sans', sans-serif;
}
.CANT1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}
.LOG {
    text-align: center;
    color: #FFEFEE;
    font-family: 'Sofia Sans', sans-serif;
}
.CANT2 img {
    max-width: 110%;
    height: auto;
    display: block;
}
.FRM {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* or whatever width you want for the form */
    margin: 0 auto; /* this will center the form horizontally */
}
.INP, .log-cont {
    margin: 10px 0;
    padding: 10px; /* or any padding you prefer */
}

@media (min-width: 850px) {
    .INP {
        width: 300px;
    }
    .log-btn {
        width: 250px;
    }
}
@media (min-width: 850px) {
    .INP {
        width: 300px;
    }
    .log-btn {
        width: 250px;
    }
}
::placeholder{
    color: #FFEFEE;
}
