.register {
    color: black;
}
.MC {
    padding-bottom: 10px;
    padding-top: 10px;
    background: #CFB1E5;
}
.C1 , .C2 {
    height: 92vh;
    background: #CFB1E5;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #CFB1E5;
    border-radius: 30px;
}
.C1 {
    background: #222139ff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.C2 {
    background-image: url("../img/backconv.jpeg");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.PART {
    font-size: 40px;
    background-color:  #CFB1E5;
    padding: 20px;
    border-radius: 50px;
    margin: 0px;
    border: 3px solid white;
}
p {
    font-size: 25px;
    color: white;
}
.reg {
    color: #222139ff;
    text-decoration: none;
}
.LOG-B {
    font-size: 35px;
    color: white;
}
.INP {
    width: 100%; /* Full width */
    padding: 12px 20px; /* Some padding */
    margin: 4px; /* Some margin */
    box-sizing: border-box; /* Ensures padding doesn't add extra width */
    border: 2px solid #7b748cff; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    font-size: 16px; /* Increase font size */
    background-color: #CFB1E5; /* Light gray background */
    transition: 0.3s; /* Smooth transitions on hover */
    color: white;
}
.INP:focus {
    border-color: #7b748cff; /* Green border on focus */
    color: white;
}
.log-btn {
    margin: 4px;
    width: 100%; /* Adjust as needed */
    height: 50px; /* Adjust as needed */
    background-color: rgba(45, 202, 207, 0.78); /* Change to your preferred color */
    border: 2px solid #7b748cff;
    border-radius: 5px; /* Rounded corners */
    color: white;
    font-size: 18px; /* Adjust as needed */
    font-weight: bold; /* Makes the text bold */
    cursor: pointer; /* Changes the cursor to a hand when hovering over the button */
    transition: background-color 0.3s; /* Smooth transition for hover effect */
}
.log-btn:hover {
    background-color: #CFB1E5; /* Slightly darker blue on hover */
    color: #222139ff;
}
.REGH {
    color: rgba(45, 202, 207, 0.78);
    text-decoration: none;
}
.REGH:hover {
    color: #CFB1E5;
    text-decoration: none;
}
.log-cont {
    padding-bottom: 15px;
    margin-top: 8px;
}
.fact {
    padding-top: 15px;
    font-size: 17px;
}





