html {
    margin: 0;
    padding: 0;
}
.Mtitle {
    font-size: 25px;
}
/*Temporary CSS until we can link the html and css page */
nav {
    background: #222139ff;
}
h1, a {
    color: white;
}
.nav-link {
    color: white;
}
.Title {
    color: white;
    font-size: 28px;
    text-decoration: none;
}
button.navbar-toggler {
    color: white;
}