.S1 {
    height: 92vh;
    background: #222139ff;
    padding: 10px;
    border: 1px solid #7b748cff;
    border-radius: 30px;
    overflow-y: auto;
}
.S2 {
    height: 92vh;
    background: #7b748cff;
    padding: 10px;
    border-radius: 30px;
    overflow-y: auto;
}
.CT {
    color: white;
    text-align: center;
}
.MC {
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: #CFB1E5;
}
li {
    list-style-type: none;
}
.CAT {
    color: white;
    font-size: 25px;
    text-decoration: underline #7b748cff 2px;
}
.TP {
    list-style-type: none;
    font-size: 20px;
}
.QS {
    color: white;
    text-decoration: none;
    font-size: .90em;
}
.QS:hover {
    color: #7b748cff;
    font-size: 19px;
}
.S2CT {
    color: white;
    text-align: center;
}
.post-topic h1 {
    color: white;
}
.ADI {
    color: #222139ff;
    text-align: center;
    margin: 0 10px;
}
.flex-row-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
label {
    color: white;
}
.post-creation-form {
    display: none;
}
.OFB {
    background-color: #222139ff;
    color: white;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    background-color: rgba(45, 202, 207, 0.78); /* Change to your preferred color */
    border: 2px solid #7b748cff;
    border-radius: 5px; /* Rounded corners */
    font-size: 18px; /* Adjust as needed */
    font-weight: bold; /* Makes the text bold */
    cursor: pointer; /* Changes the cursor to a hand when hovering over the button */
    transition: background-color 0.3s; /* Smooth transition for hover effect */
}
.OFB:hover {
    color: #7b748cff;
    font-style: oblique;
}
.button-container {
    text-align: center;
    position: relative;
}
.PT1 {
    background: #222139ff;
    padding-top: 10px;
    margin-bottom: 10px;
    border-radius: 30px;
}
.PT2 {
    background: #222139ff;
    border-radius: 30px;
    height: 100%;
    padding-top: 10px;
}
.NCT, .NCTS {
    background-color: #7b748cff;
    border: 1px solid #222139ff;
    color: white;
    border-radius: 10px;
    margin-bottom: 5px;
}
.PB {
    color: white;
    text-align: center;
    font-size: 1.25em;
}
.PBT {
    font-size: 1.75em;
}
.actions-container {
    /*display: flex;*/
    justify-content: space-around;
}
.buttons-row {
    display: flex; /* This makes the children align in a row */
    justify-content: space-around; /* This spaces the buttons evenly */
    gap: 5px; /* This adds some space between the buttons */
    height: 40px;
    align-items: center;
    overflow: hidden;
}
.comment-form {
    margin-top: 10px;
    width: 100%;
    /*display: none;*/
}
.show-comment-form, .comment-btn {
    background: #7b748cff;
    color: #222139ff;
    border: transparent;
}
.like-dislike {
    color: #222139ff;
    background: #7b748cff;
    border: transparent;
}
.selected {
    color: #7b748cff; /* or any color you want when selected */
    background: #222139ff;
    border-radius: 50px;
}
.CBb {
    width: 98%; /* Full width */
    height: 4em;
    padding: 12px 20px; /* Some padding */
    margin: 4px; /* Some margin */
    box-sizing: border-box; /* Ensures padding doesn't add extra width */
    border: 2px solid #7b748cff; /* Gray border */
    border-radius: 6px; /* Rounded borders */
    font-size: 16px; /* Increase font size */
    background-color: #222139ff; /* Light gray background */
    transition: 0.3s; /* Smooth transitions on hover */
    color: white;
}
.CBb::placeholder{
    color: white;
}
.cb {
    align-content: center;
    width: 100%;
}
.show-comment-form, .hide-comment-form, .comment-btn {
    background: #7b748cff;
    /*color: white;*/
    border: transparent;
}
.post-agreed-section {
    border-radius: 30px;
    background: #7b748cff;
    border: 3px solid #222139ff;
    height: 70vh;
    overflow-y: auto;
    min-width: 350px;
}
.agree-container,.disagree-container {
    background: #222139ff;
    border-radius: 30px ;
    border: 2px solid #7b748cff;
    flex: 1;
    width: 80%;
    margin: 0 8px 0 8px;
}
.hide-form, .hide-topic-form {
    display: none;
}
.PostT {
    /*background: #CFB1E5;*/
    /*color: white;*/
    /*border-radius: 30px;*/
    /*border: 2px solid #7b748cff;*/
    width: 100%; /* Full width */
    padding: 12px 20px; /* Some padding */
    margin: 4px; /* Some margin */
    box-sizing: border-box; /* Ensures padding doesn't add extra width */
    border: 2px solid #7b748cff; /* Gray border */
    border-radius: 6px; /* Rounded borders */
    font-size: 16px; /* Increase font size */
    background-color: #222139ff; /* Light gray background */
    transition: 0.3s; /* Smooth transitions on hover */
    color: white;
}
.PostTL, .post-body{
    color: #222139ff;
}
.PBBB {
    /*color: white;*/
    /*background: #222139ff;*/
    /*border-radius: 10px;*/
    /*border: 1px solid #7b748cff;*/
    /*width: 250px;*/
    width: 100%; /* Full width */
    height: 100px;
    padding: 12px 20px; /* Some padding */
    margin: 4px; /* Some margin */
    box-sizing: border-box; /* Ensures padding doesn't add extra width */
    border: 2px solid #7b748cff; /* Gray border */
    border-radius: 6px; /* Rounded borders */
    font-size: 16px; /* Increase font size */
    background-color: #222139ff; /* Light gray background */
    transition: 0.3s; /* Smooth transitions on hover */
    color: white;
}
.PO {
    /*background: #222139ff;*/
    /*color: white;*/
    /*border-radius: 30px;*/
    /*border: none;*/
    width: 100%; /* Full width */
    padding: 12px 20px; /* Some padding */
    margin: 4px; /* Some margin */
    box-sizing: border-box; /* Ensures padding doesn't add extra width */
    border: 2px solid #7b748cff; /* Gray border */
    border-radius: 6px; /* Rounded borders */
    font-size: 16px; /* Increase font size */
    background-color: #222139ff; /* Light gray background */
    transition: 0.3s; /* Smooth transitions on hover */
    color: white;
}
.POB {
    background: #222139ff;
    color: white;
    border-radius: 30px;
    border: 1px solid #7b748cff;
}
#cancelPostBtn {
    background-color: #222139ff;
    color: white;
    border: 1px solid #7b748cff;
    border-radius: 30px;
}
.post-card{
    background: #222139ff;
    border: 4px solid #7b748cff;
    border-radius: 10px;
}
.dci {
    background-image: url("../img/coo.png");
    border-radius: 20px;
    border: 10px solid #222139ff;
    height: 78vh;
    width: 80%;
    margin: 0 auto;
}
.DFS {
    border: 5px solid transparent;
}
.CAT-button,.CATM-button,.show-create-topic-form-button,.hide-button {
    background: #222139ff;
    color: #7b748cff;
    border: none;
}
.hide-submit-button {
    display: none;
}
.like-container {
    display: flex;
    align-items: center;
    gap: 0px;
}
.NC {
    margin-top: 17px;
}
.cursor-pointer{
    cursor: pointer;
}
.PBI, .cancel-btn {
    color: white;
    background: #222139ff;
    border: 1px solid #7b748cff;
    border-radius: 30px;
}
.btn1 {
    background: rgba(45, 202, 207, 0.78);
    box-shadow: 2px 2px rgba(30, 130, 130, 0.78);
    color: white;
    border-radius: 6px;
    border: 2px solid #7b748cff;
    height: 30px;
    width: 100%;
    padding-top: 0px;
    padding-bottom: 0px;
    display: inline-block;
    vertical-align: middle;
    font-size: 18px; /* Adjust as needed */
    font-weight: bold; /* Makes the text bold */
    cursor: pointer; /* Changes the cursor to a hand when hovering over the button */
    transition: background-color 0.3s; /* Smooth transition for hover effect */
}
.btn1:hover {
    background: #7b748cff;
    border: 1px solid #222139ff;
}
.post-creation-form-0 {
    align-items: center;
    margin-bottom: 10px;
}
#show-create-category-form-container, .show-create-topic-form-container {
    display: flex;
    align-items: center;
}

#show-create-category-form-container h3 {
    margin-left: 10px;
    color: white;
}
.show-create-topic-form-container h3 {
    margin-left: 10px;
    color: white;
}
.modal-body {
    background: #7b748cff;
}
.modal-title {
    color: white;
}
.modal-header {
    background: #222139ff;
    align-content: center;
}
.comment-p {
    font-size: 1.25em;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 10px;
    margin-left: 10px;
}
.comment-by-name, .post-by-name{
    font-size: 1em;
    color: white;
}
.comment-card {
    border: 1px solid #222139ff;
    background: #222139ff;
    color: white;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 2px;
    border-radius: 5px;
    width: 90%;
}
.DF-h1 {
    color: white;
}
.ran {
    text-align: center;
    background: rgba(123, 116, 140, 0.9);
    border-radius: 10px;
}
.CRT {
    font-size: 25px;
    padding: 0px;
}
.comm-btn{
    background: rgba(45, 202, 207, 0.78);
    box-shadow: 2px 2px rgba(30, 130, 130, 0.78);
    box-sizing: border-box; /* Ensures padding doesn't add extra width */
    border: 2px solid #7b748cff; /* Gray border */
    border-radius: 6px; /* Rounded borders */
    transition: 0.3s; /* Smooth transitions on hover */
    color: white;
    cursor: pointer; /* Changes the cursor to a hand when hovering over the button */
}
.CL {
    background: rgba(207, 45, 100, 0.78);
}

