.S1 {
    height: 92vh;
    background: #222139ff;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #7b748cff;
    border-radius: 30px;
    overflow-y: auto;
    padding-left: 15px;
}
.S2 {
    height: 92vh;
    background: #7b748cff;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 30px;
    overflow-y: auto;
}
.CT {
    color: white;
    text-align: center;
}
.MC {
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: #7b748cff;
}
li {
    list-style-type: none;
}
.CAT {
    color: white;
    font-size: 25px;
    text-decoration: underline #7b748cff 2px;
}
.TP {
    list-style-type: none;
    font-size: 20px;
}
.QS {
    color: white;
    text-decoration: none;
    font-size: 15px;
}
.QS:hover {
    color: #7b748cff;
    font-size: 19px;
}
.S2CT {
    color: white;
    text-align: center;
}
.post-topic h1 {
    color: white;
}
.ADI {
    color: #222139ff;
    text-align: center;
    margin: 0 10px;
}
.flex-row-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
label {
    color: white;
}
.post-creation-form {
    display: none;
}
.OFB {
    background-color: #222139ff;
    color: white;
    align-self: center;
    border: none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
}
.OFB:hover {
    color: #7b748cff;
    font-style: oblique;
}
.button-container {
    text-align: center;
    position: relative;
}
.PT1 {
    background: #222139ff;
    padding-top: 10px;
    margin-bottom: 10px;
    border-radius: 30px;
}
.PT2 {
    background: #222139ff;
    border-radius: 30px;
    height: 100%;
    padding-top: 10px;
}
.NCT, .NCTS {
    background-color: #7b748cff;
    border: 1px solid #222139ff;
    color: white;
    border-radius: 10px;
    margin-bottom: 5px;
}
.PB {
    color: white;
    text-align: center;
    font-size: 15px;
}
.PBT {
    font-size: 20px;
}
.actions-container {
    /*display: flex;*/
    justify-content: space-around;
}
.buttons-row {
    display: flex; /* This makes the children align in a row */
    justify-content: space-around; /* This spaces the buttons evenly */
    gap: 5px; /* This adds some space between the buttons */
    height: 40px;
    align-items: center;
    overflow: hidden;
}
.comment-form {
    margin-top: 10px;
    /*display: none;*/
}
.show-comment-form, .comment-btn {
    background: #7b748cff;
    color: #222139ff;
    border: transparent;
}
.like-dislike {
    color: #222139ff;
    background: #7b748cff;
    border: transparent;
}
.selected {
    color: #7b748cff; /* or any color you want when selected */
    background: #222139ff;
    border-radius: 50px;
}
.CBb {
    background: #7b748cff;
    color: #222139ff;
    border: 1px solid #222139ff;
    border-radius: 10px;
    width: 500px;
    height: 50px;
    overflow-y: auto;
    resize: vertical;
}
.cb {
    align-content: center;
    width: 150px;
}
.show-comment-form, .hide-comment-form, .comment-btn {
    background: #7b748cff;
    /*color: white;*/
    border: transparent;
}
.post-agreed-section {
    border-radius: 30px;
    background: #7b748cff;
    border: 3px solid #222139ff;
    height: 70vh;
    overflow-y: auto;
    min-width: 350px;
}
.agree-container,.disagree-container {
    background: #222139ff;
    border-radius: 30px ;
    border: 2px solid #7b748cff;
    flex: 1;
}
.hide-form, .hide-topic-form {
    display: none;
}
.PostT {
    background: #222139ff;
    color: white;
    border-radius: 30px;
    border: 1px solid #7b748cff;
}
.PostTL, .post-body{
    color: #222139ff;
}
.PBBB {
    color: white;
    background: #222139ff;
    border-radius: 10px;
    border: 1px solid #7b748cff;
    height: 60px;
    width: 250px;
}
.PO {
    background: #222139ff;
    color: white;
    border-radius: 30px;
    border: none;
}
.POB {
    background: #222139ff;
    color: white;
    border-radius: 30px;
    border: 1px solid #7b748cff;
}
#cancelPostBtn {
    background-color: #222139ff;
    color: white;
    border: 1px solid #7b748cff;
    border-radius: 30px;
}
.post-card{
    background: #222139ff;
    border: 4px solid #7b748cff;
    border-radius: 10px;
}
.dci {
    background-image: url("../img/coo.png");
    border-radius: 20px;
    border: 10px solid #222139ff;
    height: 78vh;
    width: 80%;
    margin: 0 auto;
}
.DFS {
    border: 5px solid transparent;
}
.CAT-button,.CATM-button,.show-create-topic-form-button,.hide-button {
    background: #222139ff;
    color: #7b748cff;
    border: none;
}
.hide-submit-button {
    display: none;
}
.like-container {
    display: flex;
    align-items: center;
    gap: 0px;
}
.NC {
    margin-top: 17px;
}
.PBI, .cancel-btn {
    color: white;
    background: #222139ff;
    border: 1px solid #7b748cff;
    border-radius: 30px;
}
.btn1 {
    background: #222139ff;
    color: white;
    border-radius: 20px;
    border: none;
    height: 30px;
    width: 70px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0px;
    display: inline-block;
    vertical-align: middle;
}
.btn1:hover {
    background: #7b748cff;
    border: 1px solid #222139ff;
}
.post-creation-form-0 {
    align-items: center;
    margin-bottom: 10px;
}
#show-create-category-form-container, .show-create-topic-form-container {
    display: flex;
    align-items: center;
}

#show-create-category-form-container h3 {
    margin-left: 10px;
    color: white;
}
.show-create-topic-form-container h3 {
    margin-left: 10px;
    color: white;
}
.modal-body {
    background: #7b748cff;
}
.modal-title {
    color: white;
}
.modal-header {
    background: #222139ff;
    align-content: center;
}
.comment-p {
    font-size: 15px;
    margin-bottom: 0px;
    margin-right: 10px;
    margin-left: 10px;
}
.comment-card {
    border: 1px solid #222139ff;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 2px;
    border-radius: 5px;
}
.DF-h1 {
    color: white;
}
.ran {
    text-align: center;
    background: rgba(123, 116, 140, 0.9);
    border-radius: 10px;
}
.CRT {
    font-size: 25px;
    padding: 0px;
}

