* {
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    background-color: #222139ff;
}

.banner-container {
    width: 100%;
    background-size: cover;
    overflow-x: hidden;
}

.BI {
    height: 15em;
    width: 100%;
    background-size: cover;

}

.username {
    position: relative;
    margin-left: 13em;
    top: -3em;
    color: #222139ff;
    z-index: 1;
}

.profile-user {
    display: inline-flex;
    position: absolute;
    top: 200px;
    width: 12em;
    height: 12em;
    margin-right: 33em;
    border: 5px solid #7b748cff;
    border-radius: 100%;
}

.edit-button {
    /*display: flex;*/
    font-size: .75rem;
    padding:  .25rem .5rem;
    position: absolute;
    margin-top: 2.5em;
    margin-left: 56em;
    z-index: 1;
}

.banner-user {
    height: 15em;
    width: 100vw;
    margin-right: 50em;
}

.default-name {
    position: relative;
    margin-left: 5em;
    top: -1.2em;
    color: #222139ff;
    z-index: 1;
}

.BIO p {
    display: block;
    position: absolute;
    width: 50em;
    height: 13em;
    top: 18em;
    margin: 0 7em 65em;
    padding: 5em 2em 2em 8em;
    font-size: 14px;
    color: white;
    background-color: #7b748cff;
    border-radius: 1em;
    z-index: -1;
}

p {
    margin-left: 5em;
}

.posts {
    width: 60em;
    height: 10vh;
    margin-top: 6em;
    margin-bottom: 3em;
    margin-left: 15em;
    color: white;
    padding: 2em;
    border-radius: 10px;
}

.user-posts {
    background-color: #7b748cff;
    border-radius: 10px;
}

h2 {
    padding: .5em 0 0 .5em;
}

.post {
    justify-content: space-between;
    font-size: 12px;
}

.P1 {
    background-color: #222139ff;
    color: white;
    border-radius: 10px;
    margin: 1em;
    padding: 1em;
}

.P1 h6 {
    margin: 1em;
}

.P1 p {
    margin: 1em;
}

.P2 {
    background-color: #222139ff;
    color: white;
    border-radius: 10px;
    margin: 1em;
    padding: 1em;
}

.P2 h6 {
    margin: 1em;
}

.P2 p {
    margin: 1em;
}

.P3 {
    background-color: #222139ff;
    color: white;
    border-radius: 10px;
    margin: 1em;
    padding: 1em;
}

.P3 h6 {
    margin: 1em;
}

.P3 p {
    margin: 1em;
}

