* {
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    background: #0F0A06;
}

/*Banner image CSS Styling*/
.BI {
    width: 1440px;
    height: 240px;
    top: 15em;
    border: 2px solid #043434;
    background-size: cover;
    overflow: hidden;
    object-fit: contain;

}

.banner-default {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/*Profile image CSS styling*/
.profile-image {
    display: inline-flex;
    position: absolute;
    top: 14em;
    width: 10em;
    height: 10em;
    margin-left: 3em;
    border: 5px solid #043434;
    border-radius: 100%;
    z-index: 1;
}

.profile-user, .banner-user{
    object-fit: cover;
    width: 100%;
    height: auto;
}

.profile-default {
    width: 105%;
    height: 105%;
    background-color: white;
    opacity: 98%;
    object-fit: contain;
}

/*User Bio CSS Styling*/
.BIO {
    margin-left: 2em;
}

.user-bio, .default-bio {
    display: block;
    position: absolute;
    align-items: center;
    width: 40em;
    height: 7em;
    top: 16.7em;
    margin: 0 5.5em;
    padding: 2em 1em 1em 5.5em;
    font-size: 18px;
    background-color: #043434;
    border-radius: 1em;
    z-index: -1;
    font-style: italic;
    color: #FFEFEE;
    font-family: 'Sofia Sans', sans-serif;
}

/*Username CSS styling*/
.username {
    position: absolute;
    margin-left: 13em;
    top: 19em;
    color: #FFEFEE;
    z-index: 1;
}

/*Edit button CSS styling*/
.btn a {
    padding:  .1rem;
    position: absolute;
    margin-top: .5em;
}

.btn {
    color: #FFEFEE;
    font-size: 18px;
    font-family: 'Sofia Sans', sans-serif;
}

.edit-button {
    float: left;
    margin-top: 4.9em;
    margin-left: 52em;
    background-color: #088E6A;
    border-radius: 7px;
    font-family: 'Sofia Sans', sans-serif;
}

/*User posts CSS styling*/
.posts-content {
    position: absolute;
    bottom: 2em;
    width: 60em;
    height: 40vh;
    margin-left: 15em;
    color:#FFEFEE;
    padding: .5em;
    border-radius: 1em;
    background-color: #043434;
    scroll-behavior: inherit;
    font-family: 'Sofia Sans', sans-serif;
}

.user-posts {
    padding: 0;
}

.card-title {
    padding: .5em;
    overflow: hidden;
    font-family: 'Sofia Sans', sans-serif;
}

.the-post {
    color: #FFEFEE;
    background-color:#088E6A;
    border-radius: 10px;
    margin: 1em;
    padding: 1em;
    font-size: 14px;
    font-family: 'Sofia Sans', sans-serif;
}

/*Footer styling*/
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}
h4{
    font-family: 'Alegreya', serif;
}
p{
    font-family: 'Sofia Sans', sans-serif;
}

h6{
    font-family: 'Sofia Sans', sans-serif;
}
::placeholder{
    font-family: 'Sofia Sans', sans-serif;
}