* {
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    background-color: #222139ff;
}

/*Banner image CSS Styling*/
.BI {
    height: 15em;
    width: 100vw;
    top: 15em;
    border: 2px solid #7b748cff;
    background-size: cover;
    overflow: hidden;
}

/*User Bio CSS Styling*/
.BIO {
    margin-left: 2em;
}

.user-bio, .default-bio {
    display: block;
    position: absolute;
    align-items: center;
    width: 40em;
    height: 7em;
    top: 16.7em;
    margin: 0 5.5em;
    padding: 2em 1em 1em 5.5em;
    font-size: 18px;
    background-color: #7b748cff;
    border-radius: 1em;
    z-index: -1;
    font-style: italic;
    color: white;
}

/*Edit button CSS styling*/
.btn a {
    padding:  .1rem;
    position: absolute;
    margin-top: .5em;
}

.btn {
    color: white;
    font-size: 18px;
}

.edit-button {
    float: left;
    margin-top: 4.9em;
    margin-left: 44.1em;
    background-color: rgba(45, 202, 207, 0.78);
    border-radius: 7px;
}

/*Username CSS styling*/
.username {
    position: absolute;
    margin-left: 13em;
    top: 19em;
    color: white;
    z-index: 1;
}

/*Profile image CSS styling*/
.profile-user, .profile-default {
    display: inline-flex;
    position: absolute;
    top: 14em;
    width: 10em;
    height: 10em;
    margin-left: 3em;
    border: 5px solid #7b748cff;
    border-radius: 100%;
    z-index: 1;
}

/*User posts CSS styling*/
.posts-content {
    position: absolute;
    bottom: 2em;
    width: 60em;
    height: 40vh;
    margin-left: 15em;
    color: white;
    padding: .5em;
    border-radius: 1em;
    background-color: #7b748cff;
    scroll-behavior: inherit;
}

.user-posts {
    padding: 0;
}

.card-title {
    padding: .5em;
    overflow: hidden;
}

.the-post {
    color: white;
    background-color: #222139ff;
    border-radius: 10px;
    margin: 1em;
    padding: 1em;
    font-size: 14px;
}

/*Footer styling*/
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}