h2, label {
    color: white;
}
.MR {
    color: white;
    font-family: 'Alegreya', serif;
}
.INP {
    width: 100%; /* Full width */
    padding: 12px 20px; /* Some padding */
    margin: 8px 0; /* Some margin */
    box-sizing: border-box; /* Ensures padding doesn't add extra width */
    border: 2px solid #088E6A; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    font-size: 16px; /* Increase font size */
    background-color: #088E6A; /* Light gray background */
    transition: 0.3s; /* Smooth transitions on hover */
    color:#FFEFEE;
    font-family: 'Sofia Sans', sans-serif;
}
.INP:focus {
    border-color: #FFEFEE; /* Green border on focus */
    color: #FFEFEE;
}
.MC {
    padding-bottom: 10px;
    padding-top: 10px;
    background: #0F0A06;
}
.C1, .C2 {
    background: #043434;
    border: 2px solid #088E6A;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    margin-left: 1em;
    margin-right: 1em;
}
.C2 {
    height: 92vh;
}
.C1 {
    display: flex;
    height: 92vh;
    flex-grow: 1;
    object-fit: contain;
    position: relative; /* Ensures the container's position is set */
    overflow: hidden;
}
.PT {
    color: #FFEFEE;
    font-size: 25px;
    padding-left: 10px;
    padding-right: 10px;
}
.Q {
    color: #FFEFEE;
    text-align: center;
    margin-top: 20px;
}
.reg-btn {
    width: 100%; /* Adjust as needed */
    height: 50px; /* Adjust as needed */
    background-color:#088E6A ; /* Change to your preferred color */
    border: 2px solid #088E6A;
    border-radius: 5px; /* Rounded corners */
    color: #FFEFEE;
    font-size: 18px; /* Adjust as needed */
    font-weight: bold; /* Makes the text bold */
    cursor: pointer; /* Changes the cursor to a hand when hovering over the button */
    transition: background-color 0.3s; /* Smooth transition for hover effect */
    margin-top: 1em;
    font-family: 'Sofia Sans', sans-serif;
}
.reg-btn:hover {
    background-color: #FFEFEE; /* Slightly darker blue on hover */
    color: #088E6A;
}
.PR {
    color: #FFEFEE;
    font-size: 20px;
    font-family: 'Sofia Sans', sans-serif;
}
ul {
    margin: 0px;
    padding: 0px;
}
li.Li-I {
    list-style-type: none;
    color: #FFEFEE;
    margin: 0px;
    padding: 0px;
    font-family: 'Sofia Sans', sans-serif;
}

.error-message{
  color: red;
    font-family: 'Sofia Sans', sans-serif;
}
.error-invalidquals{
    color: red;
    padding-bottom: 1em;
    font-family: 'Sofia Sans', sans-serif;
}
.IMG3 {
    object-fit: contain;
    height: auto;
    width: 300px;
    overflow: hidden;
    display: block;
    max-width: 100%;
}
label{
    font-family: 'Sofia Sans', sans-serif;
}
