.hide-submit-button{
    display: none;
}
#update-profile-container{
    background: #7b748cff;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

#uploaded-banner-image {
    max-width: 129px;
    max-height: 129px;
}

#uploaded-image{
    max-width: 100px;
    max-height: 100px;
    border-radius: 50px;

}
.username{

}
.email{

}
.bio{
}
.profile-picture{

}
.banner-picture{

}
#update-profile-button{

}
#update-profile-form{

}
#update-profile-profanity-check{

}

body{
    background: #7b748cff;
}