.hide-submit-button{
    display: none;
}
#update-profile-container{
    background: #7b748cff;
    justify-content: center;
    display: flex;
    flex-direction: column;
    height: 90vh;
}

#uploaded-banner-image {
    max-width: 129px;
    max-height: 129px;
}

#uploaded-image{
    max-width: 100px;
    max-height: 100px;
    border-radius: 50px;

}
.username{

}
.email{

}
.bio{
}
.profile-picture{

}
.banner-picture{

}
#update-profile-button{

}
#update-profile-form{

}
#update-profile-profanity-check{
    color: white;
    background-color: rgba(45, 202, 207, 0.78);
    box-shadow: 2px 2px rgba(30, 130, 130, 0.78);

}

body{
    background: #7b748cff;
}
#upload-banner-pic{
    color: white;
    background-color: rgba(45, 202, 207, 0.78);
    box-shadow: 2px 2px rgba(30, 130, 130, 0.78);

}
#upload-profile-pic{
    color: white;
    background-color: rgba(45, 202, 207, 0.78);
    box-shadow: 2px 2px rgba(30, 130, 130, 0.78);

}
.content-wrapper{
    flex: 1;
}