.hide-submit-button{
    display: none;
}
#update-profile-container{
    background: #0F0A06;
    justify-content: center;
    display: flex;
    flex-direction: column;
    height: 90vh;
}

#uploaded-banner-image {
    max-width: 129px;
    max-height: 129px;
}

#uploaded-image{
    max-width: 100px;
    max-height: 100px;
    border-radius: 50px;

}
#update-profile-profanity-check{
    color:  #FFEFEE;
    background-color: #088E6A;
    box-shadow: 2px 2px #043434;

}

body{
    background:#0F0A06;
}
#upload-banner-pic{
    color:  #FFEFEE;
    background-color: #088E6A;
    box-shadow: 2px 2px #043434;

}
#upload-profile-pic{
    color:  #FFEFEE;
    background-color: #088E6A;
    box-shadow: 2px 2px #043434;

}
.content-wrapper{
    flex: 1;
}
label{
    color: #FFEFEE;
}
h1{
    color: #FFEFEE;
}

::placeholder{
    color: #FFEFEE;
}
.form-control{
    border: #043434 2px solid;
    background-color: #088E6A;
}