<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Filestack Trial and Error </title>
</head>
<body>
<h1>Filestack Trial and Error</h1>
<button id="open-filestack"> Open picker</button>
<label>
    <input type="text" id="image-profile" th:field="*{imageProfile}" style="display: none">
</label>
<img th:src="${imageProfile}" alt="Uploaded Image" id="uploaded-image" style="display: none">
<script src="//static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>
<script src="/js/filestack.js"></script>
</body>
</html>