<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" th:href="@{/css/index.css}">
</head>
<body>
<div>
    <div th:include="~{partials/navbar.html}"></div>
</div>
<div>
    <div class="container-fluid MC">
        <div class="row">
            <div class="col-6 C1">
                <p class="PL">P</p>
                <p class="PL">A</p>
                <p class="PL">R</p>
                <p class="PL">L</p>
                <p class="PL">E</p>
                <p class="PL">Y</p>
            </div>
            <div class="col-6 C2">


                <p class="intro">Welcome to our platform, a unique space crafted by four
                    passionate software developers. We've created a hub for
                    meaningful conversations where users can agree, disagree,
                    and delve deep into pressing topics. In a world filled with
                    diverse opinions, our website stands as a beacon for
                    genuine dialogue and understanding. Join us, share your
                    perspective, and be part of a community that values growth
                    through conversation.</p>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid MC2">
    <div class="row">
        <div class="col-6 C3">
            <!-- If user is authenticated -->
            <h3 sec:authorize="isAuthenticated()">
                <!-- Display content for authenticated users, e.g., a link to the user's profile -->
                <a th:href="@{/posts}" class="LOG">View Feed</a>
            </h3>
            <!-- If user is not authenticated -->
            <h3 sec:authorize="!isAuthenticated()">
                <a th:href="@{/login}" class="LOG">Login</a>
            </h3>
        </div>
        <div class="col-6 C4">
            <img class="img" src="../img/Untitled.png">
        </div>
    </div>
</div>
<section id="contactInfo">
    <div class="container-fluid MC3 justify-content-evenly">
        <div class="row">
            <div class="col-12 TT">
                <h2 class="DRT">Meet the Dream Team</h2>
            </div>
            <div class="col-3 PPC">
                <h2 class="NT">Johann Williams</h2>
                <img class="PPI" src="../img/D4.avif">
                <a class="link" href="">Linked In</a>
                <a class="link" href="">Github</a>
            </div>
            <div class="col-3 PPC">
                <h2 class="NT">Geniece Tims</h2>
                <img class="PPI" src="../img/D1.webp">
                <a class="link" href="">Linked In</a>
                <a class="link" href="">Github</a>
            </div>
            <div class="col-3 PPC">
                <h2 class="NT">Daniel Mondragon</h2>
                <img class="PPI" src="../img/D3.webp">
                <a class="link" href="">Linked In</a>
                <a class="link" href="">Github</a>
            </div>
            <div class="col-3 PPC">
                <h2 class="NT">Michaella Moreno</h2>
                <img class="PPI" src="../img/D2.jpg">
                <a class="link" href="">Linked In</a>
                <a class="link" href="">Github</a>
            </div>
        </div>
    </div>
</section>
<footer th:include="partials/footer :: footer">
</footer>
</body>
</html>