<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<head th:insert="~{partials/head :: head('Home')}"></head>
    <link rel="stylesheet" th:href="@{/css/index.css}">
</head>
<body>
<nav>
	<div th:include="~{partials/navbar :: navbar}"></div>
</nav>
<div>
    <div class="container-fluid MC">
        <div class="row">
            <div class="col-6 C2">
                <p class="intro">In a world filled with
                    diverse opinions, Parley stands as a beacon for
                    genuine dialogue and understanding. </p>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid MC2">
    <div class="row">
        <div class="col-6 C3">
            <!-- If user is authenticated -->
            <h3 sec:authorize="isAuthenticated()">
                <!-- Display content for authenticated users, e.g., a link to the user's profile -->
                <a th:href="@{/posts}" class="LOG">View Feed</a>
            </h3>
            <!-- If user is not authenticated -->
            <h3 sec:authorize="!isAuthenticated()">
                <a th:href="@{/login}" class="LOG">Login</a>
            </h3>
        </div>
        <div class="col-6 C4">
            </div>
    </div>
</div>
<footer th:include="partials/footer :: footer">
</footer>
<div th:replace="~{partials/scripts :: scripts}"></div>
</body>
</html>